<h1 id="tableLabel">Product List</h1>

<app-button color="{{ showAddForm ? 'red' : 'green' }}" text="{{ showAddForm ? 'Close' : 'Add' }}"
  (btnClick)="toggleAddForm()"></app-button>
<p *ngIf="!products"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="products">
  <thead>
    <tr>
      <th>Product</th>
      <th>Description</th>
      <th>Price</th>
      <th>IsActive</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.price }}</td>
      <td>{{ product.active }}</td>
    </tr>
  </tbody>
</table>